<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
      <% if (errorMessage){ %>
        <p>
          <%= errorMessage %>
        </p>
      <% } %>

    <form action="/submit" method="post">
      <div class="container">
        <h1>Register</h1>
        <hr/>
        <label for="username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          id="username"
          class="formfield"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          id="psw"
          class="formfield"
          required
        />

        <label for="pswrepeat"><b>Repeat Password</b></label>
        <input
          type="password"
          placeholder="Repeat Password"
          name="pswrepeat"
          id="pswrepeat"
          class="formfield"
          required
        />
        <hr />
        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
    <%- include('includes/end.ejs') %>
